extends ../layouts/layout
block variables
  - 
    const htmlLang = "en";
    const pageTitle = "Example";
    const pageDescription = "This is an example page.";

block main
  p This is a simple page,
    br
    |just to say hello.
  img(src="/img/example.webp", alt="Example Image")
  p#text-to-change This text can be changed
  button#change-text-button(type="button") Change Text
  div
    form(method="get" action="/pdf/example.pdf" target="_blank")
      button(type="submit") Download Example File
