block variables

doctype html
html(lang=htmlLang)
  head
    include ../includes/head    
  body
    header
      h1 Hello, World!
    main
      block main
    footer
      p &copy; #{new Date().getFullYear()} Example Page
    script(src="/assets/js/script.js")